# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.swp
# Precompiled Headers
*.gch
*.pch
*.pc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rshell
test2
main
manT
test

# CMake Temp Files
CMakeCache.txt
CMakeFiles
Makefile
newOutputFile1
output.t
output.tx
output.txt
test.txt
test1.txt
integration_tests/test
